@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'modam', sans-serif;
}
:root {
  --background: #1a2e22;
  --sidebar: #1a2e22 ;
  --box:#ffff;
  --text: #2f3e3b;
  --accent: #225034; 
  --accent-soft: #084420;
}
